# Анализ данных с Pandas

In [ ]:
import pandas as pd
import numpy as np

## Структура

In [ ]:
q = pd.DataFrame(data={'a': ['abc', 'bcd', 'def'], 'b': [1,2,3], 'c': [100, 300, 200]}, index=[8,9,10])
q

In [ ]:
q.index

In [ ]:
q.columns

In [ ]:
q.a

In [ ]:
q['a']

In [ ]:
type(q.a)

In [ ]:
q[:2]

In [ ]:
q[ ['a', 'b'] ]

In [ ]:
q[['a', 'b']][:2]

## Чтение и просмотр

Данные соцопросов Census Income, с которыми будем работать:

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/yakushinav/omo/main/data/adult_data.csv')

* __age__: continuous. 
* __workclass__: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked. 
* __fnlwgt__: continuous. 
* __education__: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool. 
* __education-num__: continuous. 
* __marital-status__: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse. 
* __occupation__: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces. 
* __relationship__: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried. 
* __race__: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black. 
* __sex__: Female, Male. 
* __capital-gain__: continuous. 
* __capital-loss__: continuous. 
* __hours-per-week__: continuous. 
* __native-country__: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.

`head()` показывает первые 5 строк датафрейма. 

`tail()` - последние 5.

`head(N)` показывает первые N строк датафрейма. 

`tail(N)` - последние N.

In [ ]:
df.head(3)

## Общее

Размер:

In [ ]:
df.shape

Столбцы:

In [ ]:
df.columns

Информация содержит данные о типе колонок, степени их заполненности (в нашем случае пропусков в данных нет), типе данных каждой из колонок, а также потреблении памяти:

In [ ]:
df.info()

Метод `describe` содержит основные статистики по числовым столбцам данных: 
* количество
* среднее
* среднеквадратичное отклонение
* минимум, максимум
* медиану
* первый и третий квартили

In [ ]:
df.describe()

Если хочется посмотреть и на нечисловые признаки, то нужно указать их тип в параметре `include`. Всего есть совсем немного основных: 
* `bool` - логический
* `object` - общий нечисловой, в большинстве случаев это строки
* `numeric` - числовой, включающий как числа с плавающей запятой, так и целые

In [ ]:
df.describe(include=['object', 'bool'])

Полезным методом является `value_counts()`, считающим распределение данных по категориям:

In [ ]:
df.education.value_counts()

Для отображения в долях существует флажок `normalize`:

In [ ]:
df.education.value_counts(normalize=True)

Можно строить простые диаграммы

In [ ]:
df.education.value_counts().plot.bar(); #(kind='bar');

## Индексация и фильтры

Весь датафрейм:

In [ ]:
print(df)

Только те, чей возраст меньше 25 лет, но больший 10:

In [ ]:
df[(df.age < 25) & (df.age > 10)]

Только те, кто получают больше 50 000$:

In [ ]:
df[df.salary == '>50K']

In [ ]:
df[df.salary == '<=50K'].sex.value_counts(normalize=False)

In [ ]:
df[df.salary == '>50K'].sex.value_counts(normalize=True)

## Сортировка

In [ ]:
df.sort_values(by=['education'])

Отсортируем сначала по полу, внутри пола - по возрасту, но в обратном порядке

In [ ]:
df.sort_values(by=['sex', 'age'], ascending=[True, False])

## Применение функций

Применить функцию к каждому столбцу или каждой строке можно с помощью `apply`:

In [ ]:
t = pd.DataFrame(data = {'a': [1,2,3], 'b': [4,5,6]})
t

In [ ]:
t['c'] = t.apply(lambda row: row['a'] + row['b'], axis=1) # построчно

In [ ]:
t

Применение функции к каждой __ячейке__ реализовывается с помощью `map`:

In [ ]:
renaming = {'>50K': 1, '<=50K': 0}
df.salary = df.salary.map(renaming)

In [ ]:
df.salary.value_counts()

In [ ]:
renaming = {1:'> 50K', 0: '<= 50K'}
df.salary = df.salary.map(renaming)

__apply__ к нескольким столбцам сразу называется __applymap__:

In [ ]:
df['sex'] = df['sex'].apply(lambda x: x.lower())
df['relationship'] = df['relationship'].apply(lambda x: x.lower())

In [ ]:
# same as above:
cols = ['sex', 'relationship']
df[cols] = df[cols].applymap(lambda x: x.lower())

У строковых столбцов есть хитрое поле __str__, которое возвращает наружу как будто строку (синтаксис тот же), но применяет к каждому элементу столбца.

При больших объемах данных это будет быстрее, потому что `.str` под капотом векторизует операции со строками. Для дат можно использовать `.dt`.

In [ ]:
df.sex.apply(lambda x: x.upper());

In [ ]:
# same as above
df.sex.str.upper();

## Дубликаты

In [ ]:
q = pd.DataFrame(data={'a': [1,2,3,1,1], 'b': [1,2,3,2,1], 'c':[10,20,30,40,40]})
q

In [ ]:
q.duplicated(['a'])

In [ ]:
q.duplicated(['a', 'b']) # - уже оценивает кортежи значений из нескольких колонок

In [ ]:
q.drop_duplicates(subset=['a'])

In [ ]:
q.drop_duplicates(subset=['a', 'b'])

## Группировка

In [ ]:
df.groupby(['salary']);

__Важно__: groupby-объекты - не копии частей датафрейма!

In [ ]:
df.groupby(['salary']).describe(include=['object', 'bool'])

In [ ]:
df.groupby('salary')

In [ ]:
df.sex.value_counts()

In [ ]:
df.groupby('salary').sex.value_counts().plot.bar();

## Таблицы сопряженности и melt

### Таблицы сопряженности

In [ ]:
pd.crosstab(df.salary, df.sex).plot(kind='bar');

In [ ]:
pd.crosstab(df.salary, df.sex, normalize=True)

In [ ]:
pd.crosstab(df.salary, df['marital-status'], normalize=True).plot.bar();

### Melt - превращение столбцов в строки

In [ ]:
t = pd.DataFrame(data={'name': ['PC', 'PlayStation4'], 
                   '1W-2014': [100, 300], 
                   '2W-2014': [150, 350]})
t

In [ ]:
t2 = pd.melt(t, id_vars=['name'], value_name='cost', var_name='timestamp')
t2

## Изменение таблиц

In [ ]:
df.head(2)

### Добавление нового столбца

In [ ]:
df['working_days'] = df['hours-per-week'] / 8.0

In [ ]:
df.head(2)

In [ ]:
df['constant'] = 1

In [ ]:
df = df.assign(anotherConstant = lambda dataframe: dataframe.constant*2)

In [ ]:
df.head(2)

### Удаление строк и столбцов

In [ ]:
df.drop(['constant', 'anotherConstant'], axis=1, inplace=True)

__NB__: У большинства операторов pandas есть флажок `inplace`. Если он выставлен в `False` (по умолчанию именно так), то изменения, например, как `drop` в примере выше, не будут изменять таблицу, а вернут измененную копию.

In [ ]:
df.drop([1,2]).head(3) # => удаляет строки

### loc, iloc

In [ ]:
df.loc[0, 'workclass'] # получение конкретной ячейки по индексу и названию столбца

In [ ]:
df.iloc[0, 1] # получение конкретной ячейки по номеру строки и номеру столбца, вне зависимости от индексов

__Важно__: можно и получать строки по маскам:

In [ ]:
df.loc[df.age % 5 == 0, 'workclass'].head()

__Важно__: Основываясь на этом, можно присваивать другим значениям:

In [ ]:
df.loc[df.age % 2 == 0, 'workclass'] = 'ЧЕТНЫЙ'

In [ ]:
df.loc[:5, 'education'] = 'NO EDUCATION'

In [ ]:
df.head(7)

### Переименование столбцов

In [ ]:
df.columns = [c.upper() for c in df.columns]

In [ ]:
df.head(1)

In [ ]:
df.columns = [c.lower() for c in df.columns]

In [ ]:
df = df.rename(columns={'marital-status': 'marital_status'})
                        # словарь старое-новое значение

## Работа с пропущенными (NaN) значениями

In [ ]:
test = pd.DataFrame(data={'name': ['John', 'Bill', 'Jennifer', 'Max'], 
                          'salary': [90, np.nan, 95, 130], 
                          'age': [27, 30, np.nan, np.nan],
                          'status': [np.nan, 'married', np.nan, 'married']
                         })
test = test[['name', 'age', 'salary', 'status']]
test

### Отображение

In [ ]:
test[test['age'].isnull()]

In [ ]:
test[test['age'].notnull()]

In [ ]:
test[test.isnull().any(axis=1)] # !

In [ ]:
test[~test.isnull().any(axis=1)]

### Заполнение

Прежде всего, можно заполнить некоторым константным значением:

In [ ]:
dashtest = test.fillna('-')
dashtest

Важно заметить, что теперь слобцы возраста и зарплаты более не числовые:

In [ ]:
print(test.dtypes, '\n\n', dashtest.dtypes)

In [ ]:
test.fillna(method='ffill')

In [ ]:
test.fillna(method='bfill')

In [ ]:
test.fillna(method='ffill').fillna(method='bfill')

In [ ]:
test['salary'] = test[['salary']].fillna(test.salary.median())
test

In [ ]:
test['age'] = test[['salary']].fillna(25)
test['status'] = test[['status']].fillna(test.status.mode()[0])
test

## Краткий конспект

- df.shape - размер
- df.head(N), df.tail(N), - просмотр
- df[массив имен колонок] - часть (slice) датафрейма
- df['имя колонки'] - одна колонка (можно и через точку: df.имя_колонки)
- df.unique, df.nunique - просмотр уникальных значений и их количества
- df.value_counts - сколько разных значений в колонке
- df.имя колонки.apply - применяет функцию к значениям в столбце
- df.fillna - заполняет NaN
- df.dropna - удаляет строки/столбцы с NaN
- df.duplicated - показывает строки, являющиеся дупликатами других
- df.drop_duplicates - удаляет строки-дупликаты
- df[df.isnull().any(axis=1)] - вывести строки, содержащие NaN
- df[df.имя колонки.isnull().any(axis=1)] - вывести только те строки, где в указанной колонке есть пропуски
- df.groupby - группировка по некоторому признаку

## Задание

**1.** Загрузите csv-файл `https://raw.githubusercontent.com/yakushinav/omo/main/data/fishing.csv` в переменную fishing_data. Описание данных см. [здесь](https://github.com/yakushinav/journ/blob/main/fishing.md).

In [ ]:
### YOUR CODE HERE ###

**2.** Выведите описательные статистики для всех числовых (integer, float) переменных в датафрейме.

In [ ]:
### YOUR CODE HERE ###

**3.** Выберите из таблицы только строки, которые соответствуют респондентам, которые выбрали рыбалку на берегу (`beach`).

In [ ]:
### YOUR CODE HERE ###

**4.** Выберите из таблицы строки, которые соответствуют респондентам, которые предпочитают рыбачить на лодке (`boat`) с доходом (`income`) ниже 3500. Сохраните результат в переменную `boat_data`.

In [ ]:
### YOUR CODE HERE ###

**5.** Переименуйте столбец `catch` в `c_rate`.

In [ ]:
### YOUR CODE HERE ###

**6.** Добавьте в таблицу столбец `log_income`, содержащий натуральный логарифм доходов респондентов.

In [ ]:
### YOUR CODE HERE ###

**7.** Сгруппируйте наблюдения в таблице по признаку тип рыбалки (`mode`) и выведите для каждого типа среднюю цену (`price`), которую респонденты готовы заплатить за рыбалку.

In [ ]:
### YOUR CODE HERE ###

**8.** Выведите на экран первые 8 строк таблицы. А теперь последние 8.

In [ ]:
### YOUR CODE HERE ###

**9.** Сохраните изменённый датафрейм в csv-файл.

In [ ]:
### YOUR CODE HERE ###